.chat-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px; /* Adjust the padding to create space for the buttons */
}

.messages {
  flex: 1;
  padding: 10px;
  background-color: #0d0d0d;
  overflow-y: auto;
  max-height: 400px; /* Limit height for scrolling */
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.sent {
  background-color: #007bff;
  align-self: flex-end;
}

.received {
  background-color: #008444;
  align-self: flex-start;
}

.timestamp {
  font-size: 0.8em;
  color: #ccc;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #0d0d0d;
  border-top: 1px solid #131313;
  padding-bottom: 15%;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #0d0d0d;
  color: white;
}

button {
  padding: 10px 20px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
